# Standalone Admin App Environment Variables
ADMIN_TOTP_SECRET=ROPARTSMFASECRET
SESSION_SECRET=rp_prod_secret_key_tamper_guard_982347182937

# WhatsApp Cloud API (For Login MFA & Reset OTP)
WHATSAPP_API_TOKEN=EAAUCAAyPqm4BSA5TTp9vcSygOLNnVgq86YQ5s1AwOckCWAYmBn5vCNjH3ixyZB0dDbrriO2ani8ZBkXxpBJvN3eslZBFKzA5BmMVTdAKFbQWMsjMUmlZCMtPsNpJZA1mpZA8gQVuVqSxL30LMlkObN2RPQZAX72dQZBoou0DZAk1m0bfr0ciZCFjFUhqBLBW6G4PBa4QZDZD
WHATSAPP_PHONE_NUMBER_ID=1186771747862693
ADMIN_MOBILE=7979784087
